In [1]:
import pandas as pd

In [8]:
#Upload 2nd dataset
gadr_acquisition = pd.read_excel("C:/Users/USER/Videos/Data Analytics/Women First Digital Assessment/Spreadsheets_Technical assignment_Data Anlayst 23/Google Anlaytics data_Sep-Dec 22-safe2choose.xlsx", sheet_name= 'Acquisition')
gadr_age = pd.read_excel("C:/Users/USER/Videos/Data Analytics/Women First Digital Assessment/Spreadsheets_Technical assignment_Data Anlayst 23/Google Anlaytics data_Sep-Dec 22-safe2choose.xlsx", sheet_name= 'Age')
gadr_gender = pd.read_excel("C:/Users/USER/Videos/Data Analytics/Women First Digital Assessment/Spreadsheets_Technical assignment_Data Anlayst 23/Google Anlaytics data_Sep-Dec 22-safe2choose.xlsx", sheet_name= 'Gender')
gadr_page_visits = pd.read_excel("C:/Users/USER/Videos/Data Analytics/Women First Digital Assessment/Spreadsheets_Technical assignment_Data Anlayst 23/Google Anlaytics data_Sep-Dec 22-safe2choose.xlsx", sheet_name= 'Page visits')
gadr_geography = pd.read_excel("C:/Users/USER/Videos/Data Analytics/Women First Digital Assessment/Spreadsheets_Technical assignment_Data Anlayst 23/Google Anlaytics data_Sep-Dec 22-safe2choose.xlsx", sheet_name= 'Geography')
gadr_users = pd.read_excel("C:/Users/USER/Videos/Data Analytics/Women First Digital Assessment/Spreadsheets_Technical assignment_Data Anlayst 23/Google Anlaytics data_Sep-Dec 22-safe2choose.xlsx", sheet_name= 'Users - Sep-Dec 22')

In [9]:
gadr_acquisition

,Default Channel Grouping,Users,New Users,Sessions,Bounce Rate,Pages/Session,Avg. Session Duration
0,Organic Search,908831,835236,1168784,0.138337,2.787992,95.430919
1,Paid Search,208793,195714,306754,0.774842,1.362307,23.712111
2,Direct,196238,194134,230303,0.169594,2.999462,101.461001
3,Referral,12982,11125,16405,0.128436,4.324169,164.829930
4,Social,7645,6875,8915,0.131015,5.106786,151.808301
5,(Other),3,2,5,0.400000,2.400000,166.200000
6,Email,1,1,2,0.000000,2.000000,40.000000
7,NaN,1334493,1243087,1731168,0.255150,2.589996,84.473030

In [ ]:
import pandas as pd

# Read the Excel file into a list of dataframes
dfs = pd.read_excel("file_name.xlsx", sheet_name=None)

# Access each dataframe in the list
for sheet_name, df in dfs.items():
    print("Sheet name:", sheet_name)
    print(df.head())